*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --background_color : #060606;
    --primary_color : #1D1E22;
    --light_primary_color:#1d1e2281;
    --partition_color :#444857;
    --partition_color_hover :#535769;
    --font_color:#f6f6f6;
    --secondary_font_color:#AAAEBC;
    font-family: Consolas;

}
button{
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
}
.app_wrap{
    width: 100vw;
    height: 100vh;
    background-color: var(--background_color);
}

.app_wrap>header{
    height: 80px;
    justify-content: space-between;
    border-bottom: 1px solid var(--partition_color);
}
.app_wrap>header .button_section{
    padding: 0 2rem;
}
.app_wrap>section{
    height: calc(100% - 80px);
    display: flex;

}
.code_wrap,.output_wrap{
    width: 50%;
    height: 100%;
    background-color: var(--primary_color);
}
.code_wrap>header,.output_wrap>header{
    justify-content: left;
    padding: 0 2rem;
    padding-top: 1rem;
    color: var(--font_color);
    height: 50px;
    align-items: center;
    background-color: var(--background_color);
}
.code_wrap>header{
    overflow-x: auto;
    height: 80px;
    align-items: flex-end;
}
.output_wrap>header{
    justify-self: center;
}
.tab_button{
    width: 200px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: .5rem;
    transition: .3s ease-in-out;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color:var(--primary_color);
    cursor: pointer;
}
.switch_tab_div{
    width: 100%;
    height: 100%;
}
.lang_logo{
    width: 50px;
    height: 100%;
    padding:1rem .5rem; 
}
.lang_logo img{
    width: 2rem;
}
.close_tab_icon{
    width: 25px;
    justify-content: center;
    height: 25px;
    border-radius: 50%;
}
.close_tab_icon svg{
    width: 18px;
    height: 18px;
}
.close_tab_icon:hover {
    background-color: #f6f6f623;
}
.code_wrap{
    border-right: 20px solid var(--background_color);
}
.lang_name{
    width: 100px;
    color:var(--secondary_font_color) ;
    font-weight: 700;
    padding-right: 1rem;
    font-size: 1.2rem;
    outline: none;
    cursor:text;
}
.nav_buttons{
    height: 40px;
    width: 125px;
    border: none;
    border-radius: 5px;
    background-color: var(--partition_color);
    color: var(--font_color);
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: space-evenly;
    margin-right: 2.5rem;
    transition: .3s;
}
.nav_buttons:hover{
    background-color: var(--partition_color_hover);
}
.code_section{
    user-select:var(--background_color);
    padding:2rem 1rem;
    height: calc(100% - 80px);
    outline: none;
    font-size: 1rem;
    color:var(--secondary_font_color);
    letter-spacing: 1px;
    overflow: scroll;
    caret-color: var(--secondary_font_color);
}
.add_tab_button{
    height: 40px;
    width: auto;
    cursor: pointer;
}
.add_tab_button svg{
    border-radius: 50%;
    transition: .3s;
}
.add_tab_button:hover  svg{
    border-radius: 50%;
    background:#f6f6f623;


}

@media only screen and (max-width:768px) {

.app_wrap section{
   flex-direction: column;
}
.code_wrap,.output_wrap{
    width: 100%;
    height: 50%;
    max-height: 800px;
}
.code_wrap{
    border: none;
    border-bottom: 10px solid var(--background_color);
}
}
@media only screen and (max-width:450px) {

.app_wrap>header .nav_buttons {
    width: 100px;
    
}
.app_wrap>header .button_section{
padding: 0 .5rem;
}

}
